<ul id="slide-out" class="side-nav up-drawer">
    <li>
        {% if app.user %}
            <a href="{{ path("fos_user_security_logout") }}">
                <i class="material-icons">compare_arrows</i>
                <span>Logout</span>
            </a>
        {% else %}
            <a href="{{ path("fos_user_security_login") }}">
                <i class="material-icons">compare_arrows</i>
                <span>Login</span>
            </a>
        {% endif %}
    </li>
    <li><div class="divider"></div></li>
    <li>
        <a href="{{ path("playlist_recent") }}">
            <i class="material-icons">play_arrow</i>
            Recent
        </a>
    </li>
    <li><div class="divider"></div></li>
    <li>
        <a href="{{ path('help') }}" class="up-drawer__item">
            <i class="material-icons">help</i>
            <span>Help</span>
        </a>
    </li>
    <li>
        <a href="{{ path('about') }}" class="up-drawer__item">
            <i class="material-icons">info</i>
            <span>About Us</span>
        </a>
    </li>
</ul>
