<ul id="slide-out" class="side-nav up-drawer">
    {% if not app.user %}
        <li>
            <a href="{{ path("fos_user_security_login") }}">
                <i class="material-icons">compare_arrows</i>
                <span>Login</span>
            </a>
        </li>
        <li><div class="divider"></div></li>
    {% endif %}
    <li>
        <a href="#!">
            <i class="material-icons">trending_up</i>
            Charts
        </a>
        <a href="{{ path("playlist_recent") }}">
            <i class="material-icons">play_arrow</i>
            Recent
        </a>
        <a href="{{ path("chat_logs") }}">
            <i class="material-icons">question_answer</i>
            Logs
        </a>
    </li>
    <li><div class="divider"></div></li>
    <li>
        <a href="{{ path('help') }}" class="up-drawer__item">
            <i class="material-icons">help</i>
            <span>Help</span>
        </a>
    </li>
    <li>
        <a href="{{ path('about') }}" class="up-drawer__item">
            <i class="material-icons">info</i>
            <span>About</span>
        </a>
    </li>
</ul>
