<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12 m8">
                <img src="{{ asset('images/logo-xs.png') }}" class="up-logo" />
                <p class="grey-text text-lighten-4">
                    Upnext is a live chat and video synchronization service for music lovers.
                </p>
                <p class="grey-text text-lighten-4">
                    Use of this site constitutes acceptance of the site
                    <a href="{{ path("terms") }}">Terms of Service</a>.
                </p>
                <p class="grey-text text-lighten-4">
                    You must be <strong>13+</strong> years old to use this site.
                </p>
                <div>
                    <a href="https://www.reddit.com/r/upnextfm" title="Reddit">
                        <img src="{{ asset("images/social/reddit.png") }}" class="up-social-icon" />
                    </a>
                    <a href="https://twitter.com/upnextmusic" title="Twitter">
                        <img src="{{ asset("images/social/twitter.png") }}" class="up-social-icon" />
                    </a>
                    <a href="https://github.com/upnextfm/upnextfm" title="Github">
                        <img src="{{ asset("images/social/github.png") }}" class="up-social-icon" />
                    </a>
                </div>
            </div>
            <div class="col s12 m4">
                <ul style="margin-top: 16px;">
                    <li>
                        <a href="{{ path("help") }}" class="grey-text text-lighten-3">
                            Help
                        </a>
                    </li>
                    <li>
                        <a href="{{ path("about") }}" class="grey-text text-lighten-3">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="{{ path("about") }}" class="grey-text text-lighten-3">
                            About
                        </a>
                    </li>
                    <li>
                        <a href="{{ path("contact") }}" class="grey-text text-lighten-3">
                            Contact
                        </a>
                    </li>
                    <li>
                        <a href="{{ path("privacy") }}" class="grey-text text-lighten-3">
                            Privacy Policy
                        </a>
                    </li>
                    <li>
                        <a href="{{ path("terms") }}" class="grey-text text-lighten-3">
                            Terms of Service
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <a href="{{ path("ayy") }}">&copy; 2017 Upnext.fm</a>
        </div>
    </div>
</footer>
