<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12 m8">
                <img src="{{ asset('images/logo-xs.png') }}" class="up-logo" />
                <p class="grey-text text-lighten-4">
                    You can use rows and columns here to organize your footer content.
                </p>
                <p class="grey-text text-lighten-4">
                    You can use rows and columns here to organize your footer content.
                </p>
                <p class="grey-text text-lighten-4">
                    You can use rows and columns here to organize your footer content.
                </p>
                <p>
                    <a href="https://www.reddit.com/r/upnextfm" title="Reddit">
                        <img src="{{ asset("images/social/reddit.png") }}" class="up-social-icon" />
                    </a>
                    <a href="https://twitter.com/upnextmusic" title="Twitter">
                        <img src="{{ asset("images/social/twitter.png") }}" class="up-social-icon" />
                    </a>
                    <a href="https://github.com/upnextfm/upnextfm" title="Github">
                        <img src="{{ asset("images/social/github.png") }}" class="up-social-icon" />
                    </a>
                </p>
            </div>
            <div class="col s12 m4">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="{{ path("about") }}">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="{{ path("about") }}">
                            About
                        </a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">
                            Help
                        </a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="{{ path("contact") }}">
                            Contact
                        </a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">
                            Terms of Service
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <a href="{{ path("ayy") }}">&copy; 2017 Upnext.fm</a>
        </div>
    </div>
</footer>
