<nav>
    <div class="nav-wrapper">
        <a href="{{ path("admin_homepage") }}" class="brand-logo">
            <img src="{{ asset('images/logo-brand.png') }}" />
        </a>
        <a href="#" id="up-nav-toggle" data-activates="slide-out" class="button-collapse">
            <i class="material-icons">menu</i>
        </a>
        <ul id="nav-mobile" class="upa-buttons hide-on-med-and-down">
            <li>
                <a href="{{ path("admin_users") }}">Users</a>
            </li>
            <li>
                <a href="{{ path("admin_rooms") }}">Rooms</a>
            </li>
            <li>
                <a href="{{ path("admin_playlists") }}">Playlists</a>
            </li>
            <li>
                <a class="dropdown-button" href="#!" data-activates="dropdown-content">
                    Content<i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
            <li>
                <a href="#">Blog</a>
            </li>
        </ul>
    </div>
</nav>

<ul id="dropdown-content" class="dropdown-content">
    <li><a href="#!">About</a></li>
    <li><a href="#!">Terms</a></li>
    <li class="divider"></li>
    <li><a href="#!">something...</a></li>
</ul>
