{% macro roomCard(room) %}
    <div class="col s12 m2">
        <div class="card up-room-card">
            <div class="card-image" style="background-color: #{{ room.settings.thumbColor }};">
                <a href="{{ path("room", {name: room.name}) }}" class="up-card-image" style="background-image: url({{ room.settings.thumbSm }});">
                </a>
            </div>
            <div class="card-content">
                <a href="{{ path("room", {name: room.name}) }}" class="card-title">
                    {{ room.name }}
                </a>
                <div class="up-room-card__user-count">
                    <i class="material-icons md-24">people</i>
                    <span>{{ room.numUsers }}</span>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro playedCard(played, size = "2") %}
    <div class="col s12 m4 l{{ size }}">
        <div class="card up-playlist-card" data-id="{{ played.id }}">
            <div class="card-image" style="background-color: #{{ played.video.thumbColor }};">
                <a href="{{ played.video.permalink }}">
                    <img src="{{ played.video.thumbSm }}" />
                </a>
                <button class="btn-floating halfway-fab waves-effect waves-light up-pulse-hover">
                    <i class="material-icons modal-trigger" data-target="play-modal">play_arrow</i>
                </button>
            </div>
            <div class="card-content">
                <h2 class="card-title">
                    {{ played.video.title }}
                </h2>
                <small class="truncate">
                    {{ played.dateCreated|ago }}
                </small>
                <small class="truncate">
                    by <a href="{{ path("profile", {username: played.user.username}) }}">{{ played.user.username }}</a>
                    in <a href="{{ path("room", {name: played.room.name}) }}">/r/{{ played.room.name }}</a>
                </small>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro chatLog(log) %}
    <li>
        {{ log.user.username }}
        {{ log.message|raw }}
    </li>
{% endmacro %}

{% macro pagination(route, currentPage, minPage, maxPage) %}
    <ul class="pagination">
        <li {{ currentPage == 1 ? 'class="disabled"' }}>
            <a href="{{ path(route, {page: currentPage - 1 < 1 ? 1 : currentPage-1}) }}">
                <i class="material-icons">chevron_left</i>
            </a>
        </li>

        {% for i in minPage..maxPage %}
            <li class="waves-effect{{ currentPage == i ? ' active' }}">
                <a href="{{ path(route, {page: i}) }}">
                    {{ i }}
                </a>
            </li>
        {% endfor %}

        <li {{ currentPage == maxPage ? 'class="disabled"' }}>
            <a href="{{ path(route, {page: currentPage + 1 <= maxPage ? currentPage+1 : currentPage}) }}">
                <i class="material-icons">chevron_right</i>
            </a>
        </li>
    </ul>
{% endmacro %}

{#
 # Renders a card for the "played_video" user event.
 #}
{% macro eventCardPlayedVideo(event) %}
    <div class="card horizontal up-event-card up-event-card--played-video" data-event-id="{{ event.id }}">
        <div class="card-image">
            <a href="{{ event.targetVideo.permalink }}">
                <img src="{{ event.targetVideo.thumbSm }}" />
            </a>
        </div>
        <div class="card-content">
            <div class="card-title">
                <a href="{{ event.targetVideo.permalink }}">
                    {{ event.targetVideo.title }}
                </a>
            </div>
            <small class="truncate">
                Played {{ event.dateCreated|ago }}
                in <a href="{{ path("room", {name: event.targetRoom.name}) }}">
                    /r/{{ event.targetRoom.name }}
                </a>
            </small>
        </div>
    </div>
{% endmacro %}

{#
 # Renders a card for the "favorited" user event.
 #}
{% macro eventCardFavorited(event) %}
    <div class="card horizontal up-event-card up-event-card--favorited" data-event-id="{{ event.id }}">
        <div class="card-image">
            <a href="{{ event.targetVideo.permalink }}">
                <img src="{{ event.targetVideo.thumbSm }}" />
            </a>
        </div>
        <div class="card-content">
            <div class="card-title">
                <a href="{{ event.targetVideo.permalink }}">
                    {{ event.targetVideo.title }}
                </a>
            </div>
            <small class="truncate">
                Favorited {{ event.dateCreated|ago }}
                in <a href="{{ path("room", {name: event.targetRoom.name}) }}">
                    /r/{{ event.targetRoom.name }}
                </a>
            </small>
        </div>
    </div>
{% endmacro %}

{#
 # Renders a card for the "upvoted" user event.
 #}
{% macro eventCardUpvoted(event) %}
    <div class="card horizontal up-event-card up-event-card--upvoted" data-event-id="{{ event.id }}">
        <div class="card-image">
            <a href="{{ event.targetVideo.permalink }}">
                <img src="{{ event.targetVideo.thumbSm }}" />
            </a>
        </div>
        <div class="card-content">
            <div class="card-title">
                <a href="{{ event.targetVideo.permalink }}">
                    {{ event.targetVideo.title }}
                </a>
            </div>
            <small class="truncate">
                Upvoted {{ event.dateCreated|ago }}
                in <a href="{{ path("room", {name: event.targetRoom.name}) }}">
                    /r/{{ event.targetRoom.name }}
                </a>
            </small>
        </div>
    </div>
{% endmacro %}

{#
 # Renders a card for the "created_room" user event.
 #}
{% macro eventCardCreatedRoom(event) %}
    <div class="card horizontal up-event-card up-event-card--created-room" data-event-id="{{ event.id }}">
        <div class="card-image">
            <a href="{{ path("room", {name: event.targetRoom.name}) }}">
                <img src="{{ event.targetRoom.settings.thumbSm }}" />
            </a>
        </div>
        <div class="card-content">
            <div class="card-title">
                <a href="{{ path("room", {name: event.targetRoom.name}) }}">
                    {{ event.user.username }} created /r/{{ event.targetRoom.name }}
                </a>
            </div>
            <small class="truncate">
                {{ event.dateCreated|ago }}
            </small>
        </div>
    </div>
{% endmacro %}

{#
 # Renders a card for any user event.
 #}
{% macro eventCard(event) %}
    {% import _self as macros %}
    {% if event.type == "played_video" %}
        {{ macros.eventCardPlayedVideo(event) }}
    {% elseif event.type == "favorited" %}
        {{ macros.eventCardFavorited(event) }}
    {% elseif event.type == "upvoted" %}
        {{ macros.eventCardUpvoted(event) }}
    {% elseif event.type == "created_room" %}
        {{ macros.eventCardCreatedRoom(event) }}
    {% endif %}
{% endmacro %}
