<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1" name="viewport">
        <title>{% block title %}UpNext{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
            <link href="{{ asset('build/css/app.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}

            <script>
                var _WS_URI = '{{ ws_uri }}';
            </script>
            <script src="{{ asset('js/autobahn.min.js') }}"></script>
            <script src="{{ asset('js/gos_web_socket_client.js') }}"></script>
            <script src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
