<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1" name="viewport">
        <title>
            {% block title %}{% endblock %}{% if block('title') %} - {% endif %}UpNext
        </title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
            <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            {% if materialize|default  %}
            <link href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css" rel="stylesheet">
            {% endif %}
            <link href="{{ asset('build/css/app.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        {% if hide_navbar is not defined  %}
            {% include ":_layout:nav.html.twig" %}
        {% endif %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script>
                var _WS_URI = '{{ ws_uri }}';
            </script>
            {% if materialize|default  %}
                <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
            {% endif %}
            <script src="{{ asset('js/autobahn.min.js') }}"></script>
            <script src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
