{% import "::macros.htm.twig" as macros %}
{% extends "base.html.twig" %}
{% block title %}{{ user.username }}{% endblock %}
{% block body %}
	<div class="up-profile">
		<div class="up-profile__bio">
			<div class="up-profile__bio__user">
				<img class="up-profile__bio__user__picture" src="{{ user.info.avatarLg }}" />
				<div class="up-profile__bio__user__name">
					{{ user.username }}
				</div>
			</div>
			<div class="up-profile__bio__text">
				{{ user.info.bio }}
			</div>
		</div>
		<div class="up-profile__playlist">
			{% for played in playedRecently %}
				{{ macros.playedCard(played, 3	) }}
			{% endfor %}
		</div>
    </div>
{% endblock %}
