{% extends 'AppBundle::base.html.twig' %}
{% block title %}{{ name }}{% endblock %}
{% block body %}

    <div id="mount" data-room="{{ name }}" data-username="{{ username }}">
        {% include "AppBundle:_layout:loader.html.twig" %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var _WS_SETTINGS = {{ settings|raw }};
    </script>
    <script src="{{ asset('build/js/room.js') }}"></script>
{% endblock %}
