{% extends "base.html.twig" %}
{% block title %}About{% endblock %}
{% block body %}
    <div class="up-main up-about">
        <h1 class="center-align">About Us</h1>
        <h4 class="center-align flow-text" style="margin-top: 0;">
            It all started April 1st, 2016, when the founding members met each other
            on <a href="http://knowyourmeme.com/memes/events/robin">Reddit Robin</a>.
            They had fun together and there was much rejoicing.
        </h4>
        <div class="parallax-container hide-on-small-only">
            <div class="parallax">
                <img src="{{ asset("images/about/robin.jpg") }}" />
            </div>
        </div>

        <h4 class="center-align flow-text">
            The founders moved to Cytube when Robin ended a week later, where they
            established a new mecca for the group in a room called <i><a href="https://cytu.be/r/pienudes">Pienudes</a></i>.
        </h4>
        <div class="parallax-container hide-on-small-only">
            <div class="parallax">
                <img src="{{ asset("images/about/cytube.png") }}" />
            </div>
        </div>

        <h4 class="center-align flow-text">
            One of the founders said, "Hey, Cytube is open source. Let's create our own site!"
            So they forked Cytube and registered pienudes.com and there was much rejoicing.
        </h4>
        <div class="parallax-container hide-on-small-only">
            <div class="parallax">
                <img src="{{ asset("images/about/pienudes.png") }}" />
            </div>
        </div>

        <h4 class="center-align flow-text">
            After much deliberation the founders decided on renaming the site and upnext.fm was born!<br />
            <small>(There was also much rejoicing.)</small>
        </h4>
        <div class="parallax-container hide-on-small-only">
            <div class="parallax">
                <img src="{{ asset("images/logo-md.png") }}" />
            </div>
        </div>

        <h4 class="center-align flow-text">
            Over the next year the founders moved on and upnext.fm fell into disrepair. One of the
            remaining founders said, "We should rebuild!" So they did and it was good.
        </h4>
        <h4 class="center-align flow-text" style="font-size: 50px;">
            Welcome to our site!
        </h4>
    </div>
    <div class="up-main container">
        <h2 class="center-align flow-text" style="margin-bottom: 48px;">
            Developers
        </h2>
        <div class="row" style="margin-bottom: 88px;">
            <a href="{{ path("profile", {username: "headzoo"}) }}" class="col s6 m2 offset-m4 center-align">
                <img src="{{ headzoo.info.avatarMd }}" class="up-avatar" />
                <h6 class="center-align">headzoo</h6>
            </a>
            <a href="{{ path("profile", {username: "az4521"}) }}" class="col s6 m2 center-align">
                <img src="{{ az4521.info.avatarMd }}" class="up-avatar" />
                <h6 class="center-align">az4521</h6>
            </a>
        </div>

        <h2 class="center-align flow-text" style="margin-bottom: 48px;">
            Founding Members
        </h2>
        <div class="row">
            {% for user in founding %}
                <a href="{{ path("profile", {username: user.username}) }}" class="col s4 m1 center-align up-avatar--about" style="height: 85px;">
                    <img src="{{ user.info.avatarSm }}" class="up-avatar up-avatar--sm" />
                    <div class="center-align" style="font-size: 10px;">
                        {{ user.username }}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('.parallax').parallax();
    </script>
{% endblock %}
