{% extends "base.html.twig" %}
{% block title %}About{% endblock %}
{% block body %}
    <h1 class="center-align flow-text">
        About Us
    </h1>
    <div class="up-main container">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ullamcorper erat ut velit suscipit lobortis. Sed non est ac dolor posuere bibendum. Vestibulum luctus ex vitae tortor dignissim fringilla. Phasellus lectus mi, laoreet pharetra ex quis, dignissim lacinia neque. Proin sed orci et turpis ultrices dapibus eget eu mauris. Integer efficitur dui justo, non consectetur velit varius nec. Quisque fringilla, neque sit amet finibus laoreet, magna nulla elementum dolor, id gravida lorem risus vitae nunc. Etiam at malesuada nisl.</p>
        <h2 class="center-align flow-text">
            Developers
        </h2>
        <div class="row">
            <a  href="{{ path("profile", {username: "headzoo"}) }}" class="col s6 m2 offset-m4 center-align">
                <img src="{{ headzoo.info.avatarMd }}" class="up-avatar" />
                <h6 class="center-align">headzoo</h6>
            </a>
            <a href="{{ path("profile", {username: "az4521"}) }}" class="col s6 m2 center-align">
                <img src="{{ az4521.info.avatarMd }}" class="up-avatar" />
                <h6 class="center-align">az4521</h6>
            </a>
        </div>

        <h2 class="center-align flow-text">
            Founding Members
        </h2>
        <div class="row">
            {% for user in founding %}
                <a  href="{{ path("profile", {username: user.username}) }}" class="col s4 m1 center-align up-avatar--about" style="height: 85px;">
                    <img src="{{ user.info.avatarSm }}" class="up-avatar up-avatar--sm" />
                    <div class="center-align" style="font-size: 10px;">
                        {{ user.username }}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
